/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #bfd63f;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #0bdbed;
}

button.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit-btn:hover {
    background-color: #09bef0;
}

.payment-method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    button.submit-btn {
        font-size: 14px;
    }
}
