/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(137, 131, 131, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e0e3e4;
}

/* Style for input fields */
.registration-form .input-group {
    margin-bottom: 20px;
    position: relative;
}

.registration-form label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.registration-form input:focus {
    border-color: #043467;
    box-shadow: 0 0 8px rgba(95, 165, 240, 0.3);
}

.registration-form input:focus + label {
    opacity: 1;
}

/* Button Styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #10916e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #013733;
}

/* Focus effects */
.registration-form .input-group input:focus + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #007BFF;
}
